/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply min-h-screen w-full;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  h1 {
    @apply text-3xl font-bold;
  }
}

/* Custom components */
@layer components {
  .btn {
    @apply rounded-lg border border-transparent px-4 py-2 text-base font-medium 
    bg-gray-800 cursor-pointer transition-colors hover:border-primary-500;
  }
}

/* Custom utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Dark mode preferences */
@media (prefers-color-scheme: light) {
  :root {
    @apply bg-white text-gray-900;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @apply bg-gray-900 text-white;
  }
}
